<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wakanda Fan Page</title>
    <link rel="stylesheet" href="styles.css">
    <meta name="description" content="Página dedicada a Wakanda, la nación ficticia del universo Marvel.">
    <meta name="keywords" content="Wakanda, Black Panther, Marvel, T'Challa, Shuri, Vibranium, MCU">
    <style></style>
</head>

<body class="body">

    <header class="pageHeader">
        <nav>
            <ul>
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Historia</a></li>
                <li><a href="#">Tecnología</a></li>
                <li><a href="#">Personajes</a></li>

            </ul>
        </nav>
    </header>

    <footer class="pageFooter">
        <p>© 2025 Wakanda Fan Page. Todos los derechos reservados.</p>
        <p>By Nataly Michell Cux Recinos</p>
    </footer>

</body>
</html>